@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --nav: #171719;
    --nav-lks: #fff;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    --texto: #ccc;
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transform: 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--nav-lks);
    border-radius: 5rem;
}

body {
    background: var(--bg);
    color: white;
}

section {
    padding: 2rem 7%;
}

.header {
    background: linear-gradient(to bottom, #222229, var(--bg));
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    top: 0;
    left: 0%;
    right: 0;
    z-index: 1000;
    position: fixed;
}

.header .logo img {
    height: 6rem;
}

.header .logo img:hover {
    transform: scale(1.1);
}

.navbar {
    gap: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list li {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--nav-lks);
    display: inline-block;
}

.navbar-list li:first-child > a {
    color: var(--nav-lks);
    font-size: 1.6rem;
    font-weight: 900;
}

.navbar-list a span {
    color: var(--main-color);
    font-weight: 900;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--nav-lks);
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}

.menu-label {
    display: flex;
    color: var(--nav-lks);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

/* .cart-label {
    display: flex;
    color: var(--nav-lks);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
} */

.cart-icon{
    font-weight: 600;
  border-radius: 10px;
  font-size: 18px;
  margin-right: 1rem;
  color: var(--nav-lks);
  cursor: pointer;
  position: relative;

}

.cart-bubble {
    position: absolute;
    top: -8px;
    right: -8px;
    text-align: center;
    background: var(--main-color);
    color: var(--nav-lks);
    font-size: 10px;
    font-weight: 500;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }
  
  /* Ocultar menu */
#cart-toggle,
#menu-toggle,
.menu-label {
    display: none;
}

.header .iconos div:hover {
    color: var(--main-color);
}

.cart-items-conteiner {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 100%;
    right: 0;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: linear-gradient(to bottom, var(--bg), #222229);
    padding: 0 1.5rem;
    border-radius: 0 0 2rem 2rem;
    overflow-y: scroll;
    padding-bottom: 3rem;
    /* para ocultar carrito */
    display: none; 
    z-index: 2;
}

.cart-items-conteiner .encabezado {
    text-align: center;
    color: var(--nav-lks);
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 1.5rem;
    padding-bottom: 0.7rem;
    font-size: 2rem;
}

.cart-items-conteiner::-webkit-scrollbar {
    display: none;
}

.header .cart-items-conteiner .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--nav-lks);
    padding: 1rem;
    border-radius: 2rem;
}

.header .cart-items-conteiner .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-conteiner .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-conteiner .cart-item img {
    height: 7rem;
}

.header .cart-items-conteiner .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.header .cart-items-conteiner .cart-item .content .precio {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-conteiner .cart-item .content span {
    color: var(--main-color);
    font-size: 2rem;
    align-items: flex-end;
}

.divider {
    margin-top: 2rem;
    border: 0.2rem solid var(--main-color);
}

.cart-total {
    position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1.5rem;
    background-color: var(--nav-lks);
    padding: 1rem;
    border-radius: 2rem;
}

.cart-total p {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    padding-bottom: 0.5rem;
}

.cart-total span {
    color: var(--main-color);
    font-size: 2rem;
    font-weight: 700;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.7rem 3rem;
    font-size: 1.7rem;
    color: var(--nav-lks);
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5rem;
}

.btn:hover {
    letter-spacing: 0.2rem;
}

.cart-total .btn {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    display: inline-block;
    padding: 0.7rem 3rem;
    font-size: 1.7rem;
    color: var(--nav-lks);
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5rem;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../assets/img/home-img.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    background: linear-gradient(to top, var(--main-color), var(--nav-lks));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: var(--nav-lks);
}

.encabezado {
    text-align: center;
    color: var(--nav-lks);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.encabezado span {
    color: var(--main-color);
    text-transform: uppercase;
}

.nosotros .encabezado-info {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    border-radius: 2rem;
}

.nosotros .encabezado-info .imagen {
    flex: 1 1 45rem;
}

.nosotros .encabezado-info .imagen img {
    width: 100%;
    border-radius: 2rem;
}

.nosotros .encabezado-info .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.nosotros .encabezado-info .content h3 {
    font-size: 3rem;
    color: var(--nav-lks);
    text-align: center;
}

.nosotros .encabezado-info .content p {
    font-size: 1.4rem;
    color: var(--texto);
    padding: 1 rem 0;
    line-height: 1.8;
    text-align: justify;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    border-radius: 3rem;
    cursor: pointer;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: var(--nav-lks);
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .precio {
    color: var(--nav-lks);
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .precio span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: var(--black);
}

.menu .box-container .box img:hover {
    transform: scale(1.2);
}

/* Producros por categorias */
.categories{
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.category {
    background: var(--black);
    border: none;
    padding: 10px 15px;
    color: var(--bg-white);
    border-radius: 10px;
    cursor: pointer;
  }

  .active {
    background: var(--main-color);
  }



.productos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.productos .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 3rem;
    cursor: pointer;
}

.productos .box-container .box .iconos a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: var(--nav-lks);
    margin: 0.3rem;
}

.productos .box-container .box .iconos a:hover {
    background: var(--main-color);
}

.productos .box-container .box .imagen {
    padding: 2.5rem 0;
}

.productos .box-container .box .imagen img {
    height: 25rem;
}

.productos .box-container .box .imagen img:hover {
    transform: scale(1.1);
}

.productos .box-container .box:hover {
    background: var(--black);
}

.productos .box-container .box .content h3 {
    color: var(--nav-lks);
    font-size: 2.5rem;
}

.productos .box-container .box .content .estrellas {
    padding: 1.5rem;
}

.productos .box-container .box .content .estrellas i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.productos .box-container .box .content .precio {
    color: var(--nav-lks);
    font-size: 2.5rem;
}

.productos .box-container .box .content .precio span {
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}

.opiniones .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.opiniones .box-container .box {
    border: var(--border);
    text-align: center;
    padding: 2rem;
    border-radius: 3rem;
}

.opiniones .box-container .box p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.8;
    color: var(--texto);
    padding: 2rem 0;
}

.opiniones .box-container .box .usuario {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.opiniones .box-container .box h3 {
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--nav-lks);
}

.opiniones .box-container .box .estrellas i {
    font-size: 1.5rem;
    color: var(--main-color);
}

.contacto .contacto-info {
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 2rem;
}

.contacto .contacto-info .mapa {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contacto .contacto-info form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contacto .contacto-info form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--nav-lks);
}

.contacto .contacto-info form .inputBox {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
    border-radius: 2rem;
}

.contacto .contacto-info form .inputBox span {
    color: var(--nav-lks);
    font-size: 2rem;
    padding: 2rem;
}

.contacto .contacto-info form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--nav-lks);
    text-transform: none;
    background: none;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    border: var(--border);
    border-radius: 2rem;
    cursor: pointer;
}

.blogs .box-container .box .imagen {
    height: 25rem;
    overflow: hidden;
    width: 100%;
    border-radius: 2rem;
}

.blogs .box-container .box .imagen img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 2rem;
}

.blogs .box-container .box:hover .imagen img {
    transform: scale(1.2);
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .titulo {
    font-size: 2.3rem;
    line-height: 1.5;
    color: var(--nav-lks);
}

.blogs .box-container .box .content .titulo:hover {
    color: var(--main-color);
}

.blogs .box-container .box .content span {
    color: var(--main-color);
    display: block;
    padding: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--texto);
    text-align: justify;
    padding: 1rem;
}

#cart-toggle:checked + .cart-items-conteiner {
    display: flex;
}

.content .content--btn {
    display: flex;
    gap: 11rem;
}

.btn--register {
    background: linear-gradient(to bottom, #222229, #cecfd6);
}

.main {
    max-width: 1200px;
    height: 85vh;
    margin: 0 auto;
}

/* Styles page Welcome*/

#logout-message {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

#logout-message i {
    background: var(--main-color);
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
    background: linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
}

#logout-message i :hover {
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
    background: linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 1.5rem;
    height: 75vh;
}

.weolcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.weolcome__text h1 {
    font-size: 4rem;
    font-weight: 600;
}

.weolcome__text p {
    font-size: 1.1rem;
}

.welcome__img {
    max-width: 700px;
}

.link--gradient {
    background: var(--main-color);
    background: -webkit-linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
    background: linear-gradient(135deg, var(--main-color) 0%, var(--nav-lks) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
}

.footer {
    background: var(--black);
    text-align: center;
}

.footer .redes {
    padding: 1rem 0;
    gap: 2rem;
}

.footer .redes a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--nav-lks);
    border: var(--border);
    margin: 0.3rem;
    border-radius: 50%;
}

.footer .redes a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.footer .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 2rem;
}

.footer .footer-links a {
    padding: 0.7rem 2rem;
    color: var(--nav-lks);
    border: var(--border);
    font-size: 1.6rem;
    border-radius: 2rem;
}

.footer .footer-links a:hover {
    transform: scale(1.1);
}

.footer .creditos {
    font-size: 2rem;
    color: var(--nav-lks);
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .creditos span {
    color: var(--main-color);
    font-weight: 500;
}
